.pfp {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.prof-form-control {
    color: #3A086B;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: #3A086B;
    width: 100%; /* Set width to 100% for smaller screens */
  }
  
.prof-form-control:focus-within {
    color: #3A086B;
    background-color: transparent;
    border-color: #3A086B;
    box-shadow: none;
}